body {
  margin: 0;
  color: #212121;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -1px;
  background: linear-gradient(to right, #141e30, #243b55);
}

h1{
  font-family: 'Gugi', cursive;
  font-size: 3em;
  letter-spacing: 12px;
  color:#52de97;
}

.fName{
  font-family: 'Nova Mono', monospace;
}

.uName{
  font-family: 'VT323', monospace;
  font-size: 24px;
  color: #00ffff;
  letter-spacing: 0.6px;
}

.email{
  font-weight: bold;
}
